* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  list-style: none;
  border: 0;
  outline: 0;
}
.App {
  text-align: center;
}


.header {
  background: linear-gradient(to bottom, blue, rgb(7, 177, 233));
  height: 60px;
  display: flex;
  align-items: center;
  justify-content: center;
  color: #fff;
  font-size: 24px;
  letter-spacing: 1px;
  position: sticky;
  top: 0;

}

.header .span {
  margin: 0 10px;
  font-weight: bold;

}

.container {
  width: 1000px;
  margin: 0 auto;
}

.products {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  padding: 20px;
 
}

.product {
  width: 25%;
  padding: 15px;
  background: #fff;
  border: 1px solid #ddd;
  margin-bottom: 20px;
  
}

.product img {
  width: 100%;
  margin: auto;
  height: 75%;
}

.product h6 {
  font-size: 20px;
  margin-bottom: 10px;
}

.product .price {
  font-size: 20px;
  color: #616161;
}

.product .action {
  display: flex;
  align-items: center;
  margin-top: 15px;
}

.action button {
  height: 40px;
  padding: 0 15px;
  flex: 1;
  cursor: pointer;
}

.action button [disabled] {
  opacity: .3;
  cursor: not-allowed;
}

.action .buy-btn {
  background: #61dafb;
  font-size: 15px;
  font-weight: 500;
  border-radius: 0 4px 4px 0;
}

.action .sell-btn {
  background: #ccc;
  color: #333;
  font-size: 15px;
  font-weight: 500;
  border-radius: 4px 0 0 4px;
}

.action .amount {
  width: 50px;
  text-align: center;
  border: 1px solid #ddd;
  height: 40px;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 17px;
  font-weight: bold;
  color: #555;
}

.basket-container {
  padding: 20px;
  background: #fff;
  border: 1px solid #ddd;
}

.basket-container h3 {
  font-size: 20px;
  margin-bottom: 15px;
}

.basket-container .total {
  border-top: 1px solid #ddd;
  padding-top: 10px;
  margin-top: 10px;
  font-size: 18px;
  font-weight: bold;
  text-align: right;
  color: gray;
}

.basketitem {
  padding-bottom: 10px;
  font-size: 17px;
}

.basketitem span {
  color: #999;
}

.basket-reset-btn {
  background-color: #616161;
  height: 40px;
  padding: 0 20px;
  font-size: 16px;
  font-weight: 500;
  cursor: pointer;
}